@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.degrade-primary {
  background: rgb(237, 187, 80);
  background: -moz-linear-gradient(
    90deg,
    rgba(237, 187, 80, 1) 0%,
    rgba(255, 236, 194, 1) 50%,
    rgba(237, 187, 80, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(237, 187, 80, 1) 0%,
    rgba(255, 236, 194, 1) 50%,
    rgba(237, 187, 80, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(237, 187, 80, 1) 0%,
    rgba(255, 236, 194, 1) 50%,
    rgba(237, 187, 80, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edbb50",endColorstr="#edbb50",GradientType=1);
}
